$primary-color: #d7ccc8; // Warna coklat muda
$secondary-color: #bcaaa4; // Warna coklat sedang
$tree-color: #5c1d16; // Warna coklat gelap
$font-stack: 'Helvetica Neue', Helvetica, sans-serif;

.last_name {
    color: $primary-color;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    line-height: 1.6;
    background-color: #efebe9; // Warna latar belakang coklat muda
}

header {
    text-align: center;
    padding: 24px;
    color: white;
    background: linear-gradient(135deg, $tree-color, $primary-color); // Gradien coklat
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



//

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    
}

nav a:hover {
    color: #007bff;
}

//



main {
    padding: 24px;
    margin-top: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f6f6; // Warna latar belakang utama
    border-radius: 8px; // Menambahkan sudut melengkung
}

footer {
    text-align: center;
    padding: 12px;
    margin-top: 24px;
    color: white;
    background-color: $tree-color; // Warna coklat gelap
}

h2 {
    color: $tree-color; // Warna coklat gelap
    margin-bottom: 8px;
}

nav {
    margin: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: linear-gradient(135deg, #d7ccc8, #bcaaa4); // Gradien coklat
    }

    li {
        float: left;

        a {
            display: block;
            color: rgb(26, 26, 26);
            text-align: center;
            padding: 12px 20px; // Menambah padding untuk tombol yang lebih besar
            text-decoration: none;
            transition: background-color 0.3s ease; // Efek transisi

            &:hover:not(.active) {
                background-color: $secondary-color; // Warna saat hover
                color: white; // Mengubah warna teks saat hover
            }
        }
    }
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.profile-picture {
    width: 150px;
    height: 150px; // Mengubah tinggi untuk proporsi yang lebih baik
    border-radius: 50%;
    margin: 24px auto;
    background-color: $secondary-color; // Warna coklat sedang
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Menambahkan bayangan
}

.active {
    background-color: $secondary-color; // Warna saat aktif
}